.contents {
    grid-area: contents;
    width: min(90%, 1200px);
    overflow: hidden;
    margin: 1em auto 2em;
}

@media only screen and (max-width:650px) {
    .contents {
        width: 100%;
        margin: 0;
    }
}