.container {
    display: grid;
    grid-template-areas: 
    "files config watchdog"
    "files config controls";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    margin: 1em 2em 2em 2em;
    gap: 2em;
    overflow: hidden;
}

.files {
    grid-area: files;
}


.config {
    grid-area: config;
}

.watchdog {
    grid-area: watchdog;
}

.controls {
    grid-area: controls;
    display: grid;
    grid-template-areas: 
    "save"
    "import";
    grid-template-rows: auto 4em;
}

.options {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.inputWrapper {
    padding: 1em;
    max-width: 20em;
}

.import {
    grid-area: import;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 850px) {
    .container {
        grid-template-areas: "files"
        "config"
        "watchdog"
        "controls";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 0;
        gap: 0;
        overflow: hidden;
    }
    
}