.container {
    grid-area: contents;
    display: flex;
    justify-content: center;
    margin: 1em 2em;
    overflow: hidden;
}

.help {
    width: 60em;
}

.markdown {
    padding: 1em 0em;
}


@media only screen and (max-width: 650px) {
    .container {
        margin: 0;
    }
}
