.container {
    margin: 2em 3em; 
}

.contents-container {
    display: flex; 
    flex-direction: column;
    row-gap: 4em;
}

@media only screen and (max-width: 650px) {
    .container {
        margin: 2em 1em; 
    }
}