.footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: "footer-left footer-middle footer-right";
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-left {
    grid-area: footer-left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.footer-middle {
    grid-area: footer-middle;
    display: grid;
    grid-template-areas: "powered-by copas-logo x"
    "y copas-text z";
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr auto 1fr;
    font-size: 1.2em;
    font-weight: bold;
    animation: fadeIn 1s;
}

.powered-by {
    grid-area: powered-by;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.copas-logo {
    grid-area: copas-logo;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.copas-logo-img {
    width: 300px;
    height: 102px;
}

.copas-text {
    grid-area: copas-text;
    margin-top: 0.4em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.footer-right {
    grid-area: footer-right;
    display: grid;
    grid-template-areas: "cerit-logo info";
    justify-content: flex-end;
    animation: fadeIn 1s;
}

.cerit-logo {
    grid-area: cerit-logo;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2em;
    margin-bottom: 2em;
}

.footer-right-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 2em;
    margin-bottom: 2em;
    font-weight: bold;
    font-size: 1.1em;
}






.infoSection {
    grid-area: info;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 1em;
    margin: 2em;
}

.info-popover {
    display: flex;
    column-gap: 4em;
}

.info-title {
    font-weight: bold;
}

.helpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(228, 120, 120);
    border-radius: 50%;
    box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1300px) {
    .cerit-logo {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .footer-right-info {
        display: none;
    }
}

@media only screen and (max-width: 650px) {  
    .footer-left {
        display: none;
    }
    .footer-right {
        display: none;
    }
    .footer-middle {
        grid-template-rows: 1fr 1fr;
        font-size: 1em;
    }
    .copas-logo-img {
        width: 160px;
        height: 54px;
    }
}