.container {
    display: grid;
    grid-template-areas: 
    "left-section title right-section"
    "left-section main-links right-section"
    "left-section other-links right-section"
    "footer footer footer";
    grid-template-rows: 3fr 3fr 2fr 3fr;
    grid-template-columns: 1fr auto 1fr;
    row-gap: 2em;
    margin: 0.5em 0;
    overflow-y: scroll;
}

.titleSection {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40em;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0.8em;
    padding: 0.4em 0.8em;
    animation: fadeIn 0.3s ease-in;
}


.titleContainer > h1 {
    font-size: 2.2em;
    font-weight: bold;
}

.titleContainer > p {
    text-align: center;
    font-size: 1.2em;
}

.mainLinkContainer {
    grid-area: main-links;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5em;
}

.otherLinkContainer {
    grid-area: other-links;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5em;
}

.left-section {
    grid-area: left-section;
}

.right-section {
    grid-area: right-section;
}

@media only screen and (max-width: 1300px) {
    .container {
        grid-template-areas: 
        "title"
        "main-links"
        "other-links"
        "footer";
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 650px) {

    .container {
        display: grid;
        grid-template-areas: 
        "title"
        "main-links"
        "other-links"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
    }
    

    .mainLinkContainer {
        column-gap: 0;
        justify-content: space-around;
        align-items: flex-end;
        margin: 1em 0;
    }
    
    .otherLinkContainer {
        column-gap: 0;
        justify-content: space-around;
        align-items: flex-start;
        margin: 1em 0;
    }

    .titleContainer {
        border-radius: 0;
    }
    
    .titleContainer > h1 {
        font-size: 1.4em;
        font-weight: bold;
    }
    
    .titleContainer > p {
        text-align: center;
        font-size: 1em;
    }
    
}