.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 8em 3em 0 2em;
    row-gap: 3em;
}

.section-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
}

.section-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    row-gap: 0.3em;
}

@media only screen and (max-width: 1300px) {
    .section {
        display: none;
    }
}