.app {
  display: grid;
  grid-template-areas: 
  "content"
  "statusbar";
  grid-template-rows: auto 2em;
  width: 100%;
  height: 100vh;
}

.statusBar {
  grid-area: statusbar;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: white;
}

.copas-text {
  margin: 0.4em 0 3em 0;
  font-size: 1.2em;
  font-weight: bold;
}


@media only screen and (max-width: 650px) {
  .app {
    grid-template-rows: auto 3.6em;
  }
}