:root {
    --element-background-color: white;

    --element-primary-color: rgb(228, 120, 120);
    --element-primary-color-active: #bd1c41;
    --element-primary-color-inactive: lightgray;

    --element-secondary-color: black;
    --element-secondary-color-active: black;
    --element-secondary-color-inactive: lightgray;

    --element-shadow-color: rgba(0, 0, 0, 0.2)

    /* Files */
}

::selection {
    background: #eee;
    color: black;
}

@keyframes fadeIn {
    0% {
        scale: 0.98;
        opacity: 0;
    }
    100% {
        scale: 1; 
        opacity: 1;
    }
}

@media only screen and (max-width: 650px) {
    @keyframes fadeIn {
        0% {
            scale: 1;
            opacity: 1;
        }
        100% {
            scale: 1; 
            opacity: 1;
        }
    }
}

*::-webkit-scrollbar { 
    width: 1em;
}
*::-webkit-scrollbar-track {
    background: #00000000; 
}
*::-webkit-scrollbar-thumb {
    background: rgb(176, 176, 176);
    border-radius: 0.3em;
}
*::-webkit-scrollbar-thumb:hover {
    background: rgb(142, 142, 142); 
}

/* .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: var(--element-primary-color-active);
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--element-primary-color-active);
    border-color: var(--element-primary-color-active);
} */