.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: white;
    border-radius: 0.4em;
    overflow: hidden;
    box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2);
}

.container :global {
    animation: fadeIn 0.3s ease-out;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0.5em 1em;
    border-bottom: 1px solid #f0f0f0;
}

.leftSection {
    margin-right: auto;
}
.centerSection {
    margin: auto
}

.rightSection {
    margin-left: auto;
}

.header > h1,h2,h3,h4,h5,h6,span {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0em;
    border-top: 1px solid #f0f0f0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    height: 100%;
    flex-direction: column;
    row-gap: 0.5em;
    padding-left: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media only screen and (max-width: 650px) {
    .container {
        border-radius: 0em;
    }

    .body {
        overflow-x: auto;
    }

    .header {
        display: grid;
        grid-template-areas: "title title"
        "left right";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 0.5em;
    }

    .leftSection {
        grid-area: left;
    }

    .centerSection {
        grid-area: title;
    }

    .rightSection {
        grid-area: right;
    }
}
