.container {
    grid-area: contents;
    display: grid;
    grid-template-areas: "filemanager controls selected";
    grid-template-columns: 1fr 2.5em 1fr;
    gap: 2em;
    margin: 1em 2em 2em 2em;
    overflow: hidden;
}

.filemanager {
    grid-area: filemanager;
}

.controls {
    grid-area: controls;
    display: flex;
    justify-content: center;
    align-items: center;
}

.importButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2);
    color: #bd1c41;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
}

.importButton:disabled {
    color: lightgray;
    cursor: auto;
}

.selected {
    grid-area: selected;
}

.next {
    grid-area: next;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.nextButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2);
    color: #bd1c41;
    padding: 1em 2em;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
}

.nextButton:disabled {
    color: lightgray;
    cursor: auto;
}


@media only screen and (max-width:850px) {
    .container {
        grid-template-areas: "filemanager" 
        "controls"
        "selected";
        grid-template-rows: 50% auto 45%;
        grid-template-columns: 1fr;
        gap: 0;
        margin: 0;
        overflow: hidden;
    }

    .nextButton {
        width: 100%;
    }
    
}