.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 4em 1.8em 4em;
    border-radius: 3em / 50%;
    background: white;
    box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2);
}

.progress :global {
    animation: fadeIn 0.3s ease-out;
}

@media only screen and (max-width:650px) {
    .progress {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}