:root {
    --pending-color: #bd1c41;
    --complete-color: rgb(228, 120, 120);
    --incomplete-color: lightgrey;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    font-weight: bold;
    color: white;
}

.complete {
    background: var(--complete-color);
    border: 0.1em solid var(--complete-color);
    cursor: pointer;
}

.pending {
    background: var(--pending-color);
    border: 0.1em solid var(--pending-color);
}

.incomplete {
    background: var(--incomplete-color);
    border: 0.1em solid var(--incomplete-color);
}

.progressLine {
    width: 12em;
    height: 0.1em;
}


.progressText {
    position: absolute;
    white-space: nowrap;
    top: 2em;
    font-size: 0.9em;
}

.incompleteText {
    color: var(--incomplete-color);
}

.completeText {
    color: var(--complete-color);
}

.pendingText {
    color: var(--pending-color);
}

@media only screen and (max-width:850px) {
    .progressLine {
        width: 8em;
    }
}


@media only screen and (max-width:650px) {
    .progressLine {
        width: 4em;
    }
    .progressText {
        display: none;
    }
}