---
module:
  type: app
home:
  title: {{ module_title }}
  description: {{ module_description }}
analysis:
  profile:
    default: small
    options:
      - name: small
        label: Small
      - name: medium
        label: Medium
      - name: large
        label: Large
