.container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    color: rgb(228, 120, 120);
}

@media only screen and (max-width: 850px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1em;
    }
}