.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: rgb(228, 120, 120);
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0.4em 0.8em 0 var(--element-shadow-color);
}

.navigation {
    min-width: 6em;
    row-gap: 0.5em;
    padding: 0.5em;
    border-radius: 0.4em;
}

.main {
    min-width: 10em;
    row-gap: 1.4em;
    padding: 1.4em;
    border-radius: 1em;
    font-size: 1.2em;
}

.other {
    min-width: 8em;
    row-gap: 1em;
    padding: 1em;
    border-radius: 2em;
}

.container :global {
    animation: fadeIn 0.3s ease-out;
}

.container:hover {
    transition: transform 0.3s;
    transform: scale(1.02);
    transition: box-shadow 0.3s;
    box-shadow: 0 0.6em 1.3em 0 rgba(0, 0, 0, 0.2);
}

.containerActive {
    color: var(--element-primary-color-active);
    cursor: auto;
    margin: 0 0.4em;
    transform: scale(1.04);
}

.containerInactive {
    color: var(--element-primary-color);
}

.containerInactive:hover {
    transition: transform 0.3s;
    transform: scale(1.02);
    transition: box-shadow 0.3s;
    box-shadow: 0 0.6em 1.3em 0 var(--element-shadow-color);;
}

.text {
    user-select: none;
}

@media only screen and (max-width: 850px) {
    .navigation {
        min-width: 5em;
        row-gap: 0.5em;
        padding: 0.4em;
        border-radius: 0.4em;
    }
}

@media only screen and (max-width: 650px) {

    .main, .other {
        min-width: 6.5em;
        row-gap: 0.4em;
        padding: 1em;
        border-radius: 1em;
        font-size: 1.1em;
    }
    
    /* .other {
        min-width: 6em;
        row-gap: 0.4em;
        padding: 1em;
        border-radius: 1em;
        font-size: 1em;
    } */
    
}