.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0.8em;
    cursor: pointer;
}

.containerDisabled {
    color: lightgrey;
    cursor: default;
}

.text {
    margin-top: 0.4em;
    font-size: 0.9em;
    font-weight: bold;
    user-select: none;
}

@media only screen and (max-width: 1050px) {

    .container {
        padding: 0 0.4em;
    }
    .icon {
        font-size: 1.5em;
    }
    .text {
        font-size: 0.7em;
    }
}