.container {
    display: grid;
    grid-template-areas: 
    "pathbar"
    "toolbar"
    "contents"
    "statusbar";
    grid-template-rows: 3.5em 5em auto 1.5em;
    border-radius: 0.4em;
    border: 0.1em solid rgb(217, 217, 217);
    background: white;
    overflow: hidden;
    box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2);
}

.container :global {
    animation: fadeIn 0.3s ease-out;
}

@media only screen and (max-width: 850px) {
    .container {
        grid-template-rows: 3.5em 8em auto 1.5em;
        border-radius: 0em;
    }
}

