.container {
    grid-area: contents;
    display: flex;
    justify-content: center;
    margin: 1em 2em 2em 2em;
    overflow: hidden;
}

.configList {
    width: 60em;
}

@media only screen and (max-width: 650px) {
    .container {
        margin: 0;
    }
}
