.container {
    grid-area: contents;
    display: flex;
    justify-content: center;
    margin: 1em 2em 2em 2em;
    overflow: hidden;
}

.historyList {
    width: 80em;
}

@keyframes pulse {
    0% {
    }
    100% {
        background-color: rgb(240, 240, 240);
    }
}

.pulsing {
    animation: pulse 0.5s ease-in-out 0s infinite alternate;
}


@media only screen and (max-width: 650px) {
    .container {
        margin: 0;
    }
}