.container {
    grid-area: contents;
    display: flex;
    justify-content: center;
    width: 60em;
    margin: 1em auto 2em;
    overflow: hidden;
}

@media only screen and (max-width: 650px) {
    .container {
        margin: 0;
    }

}