.container {
    display: flex;
    align-items: center;
    column-gap: 2em;
    padding: 0 1em;
    border-bottom: 0.1em solid rgb(217, 217, 217);
}

.pathsection {
    font-weight: bold;
}

.slash {
    margin-right: 0.4em;
}
.homeIcon {
    margin-right: 0.8em;
    cursor: pointer;
}
.pathElement {
    margin-right: 0.4em;
    cursor: pointer;
}