.container {
    display: grid;
    grid-template-areas: "services contact info";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1em;
    font-size: 0.9em;
    font-weight: bold;
    background: white;
    color: black;
}

.service-section {
    grid-area: services;
    display: flex;
    align-items: center;
    column-gap: 1.5em;  
}

.service {
    display: flex;
    align-items: center;
    column-gap: 0.6em;
}

.service-status {
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

.service-status-up {
    background-color: #16cc38;
}

.service-status-down {
    background-color: #f02b4f;
}

.status-message {
    font-size: 1em;
}


.service-name {
    font-size: 1em;
}

.contact-section {
    grid-area: contact;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    font-weight: bold;
    color: blue;
}

.contact-section > a {
    color: blue;
}

.info-section {
    grid-area: info;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}


@media only screen and (max-width: 1200px) {
    .container {
        display: flex;
        justify-content: space-between;
    }

    .contact-section {
        display: none;
    }
    
}



@media only screen and (max-width: 650px) {
    .container {
        display: grid;
        grid-template-areas: "services" 
        "info";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        border-top: 1px dotted #BBB;
    }

    .service-section {
        justify-content: center;
    }
        
    .info-section {
        justify-content: center;
    }

    
}