.item {
    display: flex;
    align-items: center;
    column-gap: 1em;
    margin: 0 1em;
    height: 2em;
}

.itemExpand {
    width: 2em; 
}

.itemPath {
    flex-grow: 1;
}

.itemButton {
    margin: 0 1em;
    cursor: pointer;
}

.itemFilecount {
    text-align: right;
    width: 5em;
}

.expandable {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.expandableItem {
    display: flex;
    align-items: center;
    margin: 0 2em;
    height: 2em;
    border-bottom: 0.1em solid #eee;
}

.expandableItemText {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.expandableCheckbox {
    display: flex;
    padding: 0.3em;
    justify-content: center;
    align-items: center;
    height: calc(100%-0.3em);
}
.expandableCheckbox > input {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
