.container {
    overflow-y: scroll;
}

.container-list {
    padding: 1em 1em;
}

.file-item-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
    padding: 0.8em;
}

.file-item-list {
    display: grid;
    grid-template-areas: "type name size modified";
    grid-template-columns: 2em auto 8em 10em;
    align-items: center;
    width: 100%;
    padding: 0.2em;
    user-select: none;
}

.file-item-name {
    text-align: center;
    word-wrap: break-word;
    user-select: none;
    width: 100%;
}


.dragOver {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--element-secondary-color-inactive);
}

.dragOver * {pointer-events: none;}

.container::-webkit-scrollbar { 
    width: 1em;
}
.container::-webkit-scrollbar-track {
    background: #00000000; 
}
.container::-webkit-scrollbar-thumb {
    background: rgb(176, 176, 176);
    border-radius: 0.3em;
}
.container::-webkit-scrollbar-thumb:hover {
    background: rgb(142, 142, 142); 
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.file-selected {
    background: #dfe8f5;
}

.listName {
    text-overflow: ellipsis;
    overflow-x: hidden;
    grid-area: name;
}

.listSize {
    grid-area: size;
    justify-self: end;
    white-space: pre-wrap;
}

.listModified{
    grid-area: modified;
    justify-self: end;
}