.container {
    display: grid;
    grid-template-areas:
    "navbar"
    "contents";
    grid-template-rows: 8em auto;
    overflow: hidden;
}

@media only screen and (max-width: 650px) {
    .container {
        grid-template-rows: 5em auto;
    }
}