<div class="main-container col-md-12">
    <mat-form-field class="col-md-12">
        Dataset name: <input matInput [(ngModel)]="_case" required [disabled]="datasetExtended()">
    </mat-form-field>
    <mat-form-field class="col-md-12">
        Dataset description (optional): <input matInput [(ngModel)]="_description" [disabled]="datasetExtended()">
    </mat-form-field>
    <div class="inline-block col-md-12">
        <button style="margin-right: 5px;" type="button" class="btn btn-default" (click)="selectClusters()" [disabled]="datasetExtended()">
            <span>Specify suitable clusters</span>
        </button>
        <button style="margin-right: 5px;" type="button" class="btn btn-default" [disabled]="datasetExtended()" (click)="selectAccess('full-access')">
            <span>Manage user full access</span>
        </button>
        <button style="margin-right: 5px;" type="button" class="btn btn-default" [disabled]="datasetExtended()" (click)="selectAccess('read-access')">
            <span>Manage user read access</span>
        </button>
        <button style="margin-right: 5px;" type="button" class="btn btn-default" [disabled]="datasetExtended()" (click)="selectGroups()">
            <span>Manage group access</span>
        </button>
    </div>

    <ngfUploadStatus
            [(percent)] = "progress"
            [httpEvent] = "httpEvent"
    ></ngfUploadStatus>

    <div class="inline-block col-md-12">
        <div
                ngfDrop
                multiple         = "1"
                selectable       = "1"
                [(validDrag)]    = "validComboDrag"
                [(files)]        = "files"
                accept           = "*"
                class            = "well drop-zone"
                [(invalidDrag)]="invalidComboDrag"
                [ngClass]="{'valid-drag':validComboDrag, 'invalid-drag':invalidComboDrag}"
        >
            <span class="clickable"><strong>Drop</strong> or <strong>select</strong> files here</span><br><br>
            <strong>Supported types:</strong> mactime with header, mactime with no header, fls, find, l2tcsv (plaso-tools format)
            <br>
            To fully utilize the automatic detection for NTFS file system, use the mactime with header, mactime with no header or fls format.
        </div>
    </div>

    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of files;let i=index">
                <td>
                    <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                        <div class="previewIcon" [ngfBackground]="item"></div>
                    </div>
                    <strong>{{ item.name }}</strong>
                </td>
                <td nowrap>
                    {{ item.type }}
                </td>
                <td nowrap>
                    {{ item.size/1024/1024 | number:'.2' }} MB
                </td>
                <td nowrap>
                    <button type="button"
                            class="btn btn-danger btn-xs"
                            (click)="files.splice(i,1)"
                    >
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="col-md-4 text-align-left">
                <button type="button"
                        class="btn btn-success btn-s"
                        (click)="uploadFiles(files)"
                        [disabled]="!files.length || !_case"
                >
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
        </div>
        <div class="col-md-4 text-align-left">
                <span matTooltip="Removes lines that contains (deleted) from uploaded files" [matTooltipPosition]="'above'">
                    <input type="checkbox" [(ngModel)]="removeDeleted" class="fimetis-slider" id="removeDeletedCheckbox">
                    <label for="removeDeletedCheckbox" class="removeCheckbox"></label>
                    Remove deleted lines from files
                </span>
                <br>
                <span matTooltip="Removes lines that contains (deleted-realloc) from uploaded files" [matTooltipPosition]="'above'">
                    <input type="checkbox" [(ngModel)]="removeDeletedRealloc" class="fimetis-slider" id="removeDeletedReallocCheckbox">
                    <label for="removeDeletedReallocCheckbox" class="removeCheckbox"></label>
                    Remove deleted realloc lines from files
                </span>
        </div>
        <div class="col-md-4 text-align-left">
            <span matTooltip="Creates a new cluster corresponding to files detected as likely connected to the investigation" [matTooltipPosition]="'above'">
                <input type="checkbox" [(ngModel)]="performDetection" class="fimetis-slider" id="performDetectionCheckbox">
                <label for="performDetectionCheckbox" class="removeCheckbox"></label>
                Perform automatic detection
            </span>
            <br>
            <span *ngIf="performDetection">
                <b><mat-label>Select the model configuration:</mat-label></b>
                <mat-radio-group [(ngModel)]="modelConfiguration">
                    <br>
                    <mat-radio-button
                        value="1"
                        matTooltip="The model will identify less entries overall, but it is less likely to identify the desired files.">
                        Strict
                    </mat-radio-button>
                    <br>
                    <mat-radio-button
                        value="2"
                        matTooltip="The model will be balanced between increasing the chance of identifying the desired files and identifying too many entries overall.">
                        Normal
                    </mat-radio-button>
                    <br>
                    <mat-radio-button
                        value="3"
                        matTooltip="The model will more likely identify the desired files, but it will also identify more false positives.">
                        Lenient
                    </mat-radio-button>
                </mat-radio-group>
            </span>
            <span Else>
                <br>
            </span>
        </div>

        <div class="text-align-left">
            Queue progress:
            <div class="progress" style="">
                <div class="progress-bar"
                     role="progressbar"
                     [ngStyle]="{ 'width': progress + '%' }"
                ></div>
            </div>
            <div class="text-align-center">
                <div *ngIf="progress==100" class="circle-rotate-scale-up">
                    <i class="glyphicon glyphicon-ok"></i>
                </div>
            </div>

        </div>
    </div>
</div>
