.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* overflow-y: auto; */
    column-gap: 3em;
    padding: 0em 2em;
    border-bottom: 0.1em solid rgb(217, 217, 217);
}

.buttonGroup {
    display: flex;
    column-gap: 2em;
    align-items: center;
}

.toggleGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5em;
    padding: 0.5em 0em;
}

.searchGroup {
    display: flex;
}

@media only screen and (max-width: 1500px) {
    .buttonGroup {
        column-gap: 0.5em;
    }
}

@media only screen and (max-width: 1050px) {
    .container {
        column-gap: 0.5em;
    }
    .buttonGroup {
        flex-wrap: wrap;
        align-content: center;
        row-gap: 0.5em;
    }
}


@media only screen and (max-width: 850px) {
    .container {
        display: grid;
        grid-template-areas: 
        "buttons toggles"
        "buttons search";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        /* padding: 0 0.8em; */
    }
    .buttonGroup {
        grid-area: buttons;
    }
    .toggleGroup {
        grid-area: toggles;
        flex-direction: row;
    }
    .searchGroup {
        grid-area: search;
        justify-content: center;
    }
}

@media only screen and (max-width:650px) {
    .container {
        display: grid;
        grid-template-areas: 
        "buttons buttons"
        "toggles search";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 0.3em;
    }
    .buttonGroup {
        justify-content: center;
    }
}