.container {
    grid-area: contents;
    display: flex;
    justify-content: center;
    margin: 1em auto 2em;
    width: min(60em, 100%);
    overflow: hidden;
}

@media only screen and (max-width:650px) {
    .container {
        margin: 0;
    }
}