.container {
    grid-area: contents;
    display: grid;
    grid-template-areas: 
    "filepicker"
    "controls";
    grid-template-rows: 1fr auto;
    overflow: hidden;
}

.filePicker {
    grid-area: filepicker;
    width: 50em;
    margin: 1em auto 0;
}

.controls {
    grid-area: controls;
    width: 50em;
    margin: 2em auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 759px) {
    .filePicker {
        margin: 0;
        width: 100%;
    }
    .controls {
        margin: 0;
        width: 100%;
    }
}
